
<div id="main_container">
<div id="left" >
	<div class="inner">
		<div class="index-view">
	<div class="list_header">
		<a id="dialog_user" data-object="user">Add new user</a>
		<div id="dialog_user_form" class="dialog_form" title="Create new user" style="display:none;">
		<%= form_for(@user) do |f| %>
		 
  <li><%= f.label :name %><%= f.text_field :name, :class => "required"%> </li>
  <li><%= f.label :email %><%= f.text_field :email, :class => "required", :email => "true" %></li>
  <li><%= f.label :phone %><%= f.text_field :phone %></li>
  <li><%= f.label :password %><%= f.password_field :password, :class => "required", :minlength => "4" %></li>
  <li><%= f.label :password_confirmation%><%= f.password_field :password_confirmation, :class => "required", :minlength => "4" %></li>
  <li><%= f.label :manager%><%= f.check_box :manager %></li>
  <li><%= f.submit "Save", :class => "submit" %></li>
  <% end %>
    </div>
	    <div class="search">
	        <input type="text" name="search" AUTOCOMPLETE=OFF value="" id="id_search_list">
	    </div>
	</div>
  <ul id="cus_pro_us_listing">
    <%= render @users %>
  </ul>
</div>
<div class="show-view">
  	<div class="list_header">
	
	
	Loading....
	</div>
  </div>
</div>
</div>

</div>