<div id="left">
	<div class="inner" style="left: -980px">
		  <div class="index-view">
	  	<div class="list_header orange_bgr">
		
		
		Loading....
		</div>
  </div>
<div class="show-view">
<div class="list_header orange_bgr">
	<%= link_to "Back", users_path, :class => "back_button" %>
	
		<%=h @user.name %>
</div>
<div id="description">
  <div class="show_user_text">
	 <%=h @user.name %><br/>
	Phone:
	 <%=h @user.phone %><br/>
	Email:
	<%=h @user.email %><br/>
	</div>
	
		     <div class="show_user_image">
	<div class="avatar_show_page">	     	
<%= image(@user, "image100") %>
<p><%= link_to "Change image", "", :class => "show_avatar_upload" %></p>  
  </div>
<div class="avatar_upload" style="display:none">
	<%= form_for(@user, :html => { :multipart => true }) do |f| %>
	<p id="firm_logo"><%= f.file_field :avatar%></p>  
	<%= f.submit "Upload", :class => "submit"%>  <%= link_to "Cancel", "", :class => "hide_avatar_upload" %>
		     <% end %>
		     </div>
</div>
</div>

  <nav id="sub_tabs">
    <ul>
    <li class=""><a href="#tabs-1">Tasks</a></li>
    <li class=""><a href="#tabs-2">Logs</a></li>
    </ul>
    <span class="nav_line"></span>
    </nav>
   <div class="boxes">
  <div class="tab_box" id="tabs-1"> 
  	  <div id="todos_list">
  		<div class="log_menu">
    <span class="add_some">  
    <a id="dialog_task">Add another</a>
   
    <div id="dialog_task_form" class="dialog_form" title="Create new task" style="display:none;">
        <%= form_for @user.todos.build do |f| %>
        <%= f.hidden_field :user_id %>
          <li><%= f.label :name %><%= f.text_field :name %></li>
          <li><%= f.label :customer_id %><%= f.select(:customer_id, @firm.customers.map {|customer| [customer.name, customer.id]}, {:prompt => "Select customer"}, {:class => "selector"})%></li>   
          <li><%= f.label :project_id %><%= f.select(:project_id, @firm.projects.map {|project| [project.name, project.id]}, {:prompt => "Select project"}, {:class => "selector"})%></li>   
          <li><%= f.label :due %><%= f.text_field :due, :value => Time.now.strftime("%m/%d/%Y"), :id => "dialog_task_date" %></li>
          <li><%= f.submit "Save", :class => 'submit' %></li>
      <% end %>
    </div>
  </span>
    </div>

   <div class="info" > 
	<div class="name_todo info_head">Task</div>
	<div class="project_todo info_head">Project</div>
	<div class="user_todo info_head">Assigned to</div>
	
  <div class="date_all info_head">Due</div>
  </div>
    <div id="not_done_tasks">
    <%= render :partial => @not_done_todos %>
    </div>
    <br/>
    <div id="done_tasks">
    	<div class=" info_head">Done</div>
      <%= render :partial => @done_todos %>
    </div> 
  </div>
  </div>
  <div class="tab_box hide" id="tabs-2">
  	<div class="listing_logs">
  	<%= render "logs/logs_menu" %>
    
    	<%= render "logs/list_header" %>
      <%= render @logs %>
    </div>

   </div>
  
</div>
</div>
</div>
</div>
