
<div id="main_container">
<div id="left">
	<div class="inner">
		<div class="index-view">
	<div class="list_header">
		<a id="dialog_customer" data-object="customer">Add new customer</a>
		<div id="dialog_customer_form" class="dialog_form" title="Create new customer" style="display:none;">
		<%= form_for(@customer) do |f| %>
   <li><%= f.label :name %><%= f.text_field :name, :class => "required", :minlength => "2"  %></li>
   <li><%= f.label :phone %><%= f.text_field :phone %></li>
   <li><%= f.label :email %><%= f.text_field :email %></li>
   <li><%= f.label :address %><%= f.text_field :address %></li>
   <li><%= f.submit 'Save', :class => 'submit' %></li>
    <% end %>
    </div>
	    <div class="search">
	        <input type="text" name="search" AUTOCOMPLETE=OFF value="" id="id_search_list">
	    </div>
	</div>
<ul id="cus_pro_us_listing">
<%= render @customers %>
</ul>
</div>



	<div class="show-view">
	  	<div class="list_header">
		
		
		Loading....
		</div>
	</div>
   </div>
   </div>
 </div>  