	
<div id="left">
	<div class="inner">
		<div class="index-view">
	<div class="list_header orange_bgr">
		<%= link_to "Active projects", projects_path, :id => "active_projects"%>
	    <div class="search">
	        <input type="text" name="search" AUTOCOMPLETE=OFF value="" title="search" id="id_search_list">
	    </div>
	</div>
  <ul id="cus_pro_us_listing">
    <% for project in @projects %>
  <li class="archive_tab_list" id="project_<%= project.id.to_s %>"> 
  	<div class="tab_list_text">
 <%= project.name %>
  </div>
  <%= link_to(project_path(project), :confirm => "This will destroy the project and all tasks and logs associated to this project. Are you sure? The project with its tasks and logs will be accessable if you reopen the project.", :title => "Delete project", :method => :delete, :remote => true) do%>
  <span class='delete-tabs-list'></span>
  <a class="activate_project" data-object="project" data-id="<%= project.id.to_s %>">Reopen</a>
    <% end %>
    <% end %>

  </ul>
  </div>


      
</div>
</div>