<div id="above_header">
  </div>
<div id="front_logo">
		<%= link_to image_tag("squadlink.png" ), root_url(:subdomain => nil)   %>
	</div>

<div id="all_container">
<div id="register_container">



 <div id="registration" class="blue">


 	<p>Please sign in.</p>

     <span class="flash_notice" style="color: #87E32B;"><%= flash[:notice] %></span>
    <span class="flash_notice" style="color: red;"><%= flash[:alert] %> </span>
 </div>

<div class="signup signup_firm">


    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="signup-form-field">
      <%= f.label :email %>
      <%= f.email_field :email %></div>

      <div class="signup-form-field"><%= f.label :password %>
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div class="signup-form-field checkbox"><%= f.check_box :remember_me, :id => "check" %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in", :class => "submit"%></div>
    <% end %>


</div>
  <div class="instruction_1">
	<p><%= render "links" %></p>
</div>




</div>
</div>

