
<div class="signup signup_firm">

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="signup-form-field"><%= f.label :email %>
 <%= f.text_field :email %></div>
  <div class="signup-form-field"><%= f.label :password %>
 <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="signup-form-field"><%= f.label :remember_me %><%= f.check_box :remember_me, :id => "check" %> </div>
  <% end -%>

  <p><%= f.submit "Sign in", :class => "submit" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
