
<div class="signup signup_firm">
	<h2 style="margin-left:20px;">Sign in</h2>
<% if flash[:notice] %>
	<span class="flash_notice" style="display:block;height:30px; width:560px; background-color: #87E32B; text-align:center; line-height: 175%;"><%= flash[:notice] %></span>
	<% end %>
	<% if flash[:alert] %>
	<span class="flash_error" style="display:block;height:30px; width:560px; background-color: red; margin-left:20px;text-align:center; line-height: 175%;" ><%= flash[:alert] %></span>
	<% end %>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="signup-form-field"><%= f.label :email %>
 <%= f.text_field :email %></div>
  <div class="signup-form-field"><%= f.label :password %>
 <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="signup-form-field"><%= f.label :remember_me %><%= f.check_box :remember_me, :id => "check" %> </div>
  <% end -%>

  <p><%= f.submit "Sign in", :class => "submit" %></p>
<% end %>
<div class="devise_links">
<%= render :partial => "devise/shared/links" %>
</div>
</div>
