<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @todo.name %>
</p>

<p>
  <b>User:</b>
  <%= @todo.user_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @todo.customer_id %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
