<div id="log_<%=log.id%>"> 
 <div id="log_info_<%=log.id%>" class="info" data-log="<%= log.id %>">
 	<div class="gravatar_on_log">
 
 	<%= image(log.user, "image32") %>
 	</div>
  <div class="event_on_log">
    <%= log.event %>
     </div>
   <div class="date_and_times_on_log">
   	<% if !log.end_time.nil? %>
    <%= ftz(log.log_date).strftime('%d.%m.%y') %> 
    <%= ftz(log.begin_time).strftime('%H:%M')%>-<%= ftz(log.end_time).strftime('%H:%M')%>
    <div class="total_log_time"><%= log.total_time %></div>  
    
      </div>
      <div class="pro_tod_cus_emp_on_log">
      	<div class="pro_tod_on_log">
      		<div class="pro_cus_on_log"><% if log.project %><%= log.project.name %><% end %>&nbsp;</div>
 			<div class="tod_emp_on_log"><% if log.todo %><%= log.todo.name %><% end %>&nbsp;</div>
      	</div>
      	<div class="cus_emp_on_log">
      		<div class="pro_cus_on_log"><% if log.customer %><%= log.customer.name %><% end %>&nbsp;</div>
 			<div class="tod_emp_on_log"><% if log.employee %><%= log.employee.name %><% end %>&nbsp;</div>
      	</div>
      	</div>

 <div class="delete_edit">
 	
  <span class="open_log_update edit" id="log_update" title="Edit log" data-id="<%= log.id %>">edit</span>
  <%= link_to "delete", log, :confirm => "Are you sure?", :title => "Delete log", :method => :delete, :class => "delete_log", :remote => true%>
  </div>
  </div>
  <div class="dialog_form" id="log_update_<%= log.id %>_form" title="Update log" style="display:none;" data-id="<%= log.id %>">
      <%= form_for(log) do |f| %>
    <ul>
        <li><%= f.label :log %><%= f.text_field(:event, :class => "required", :minlength => "2", :AUTOCOMPLETE => "OFF") %></li>
        <li><div class="date_on_log"><%= f.label :date, :class => "required" %><%= f.text_field(:log_date, :value => log.log_date.strftime("%m/%d/%Y"), :class => "log_date", :id => "log_date_edit_#{log.id}") %></div></li>
        <li style="margin-bottom: 0px;"><%= f.label :from %><%= f.label :to, :style => "margin-left: 30px;" %></li>
        <li><%= f.text_field(:begin_time, :value => log.begin_time.strftime("%H:%M"), :class => "log_times required clock", :id => "log_times_from_#{log.id}") %>
        <%= f.text_field(:end_time, :value => log.end_time.strftime("%H:%M"), :class => "log_times required clock", :id => "log_times_to_#{log.id}") %></li>
       <li id="slider_range_<%= log.id %>" log="<%= log.id %>"></li>
        
        <li><%= f.label :project %>
         <select class="big_select" id="log_project_id" log="<%= log.id %>" name="log[project_id]">
           <option value="" data-customer="">None</option>
           <% @all_projects.each do |project| %>
                <% if project == log.project  %>
                  <option value="<%= project.id %>" selected="selected"><%= project.name %></option>
                <% else %>
                  <option value="<%= project.id %>"><%= project.name %></option>
                  <% end %>
                 <% end %>
          </select></li>
          <li><%= f.label :Task %>
            <% if !log.todo.nil? %>
            <% if log.todo.completed == true %>
            <%= f.label :done?, :style => "margin-left: 255px;" %><%= check_box_tag "done", 1 ,true %>
            <% else %>
            <%= f.label :done?, :style => "margin-left:255px;" %><%= check_box_tag "done" %>
            <% end %>
            <% else %>
            <%= f.label :done?, :style => "margin-left: 255px;" %><%= check_box_tag "done" %>
            <% end %>
            <select class="big_select" id="log_todo_id_<%= log.id %>" log="<%= log.id %>" name="log[todo_id]">
              <% if log.project.nil? %>
          <option value="" id="value">Select a project</option>
          <%else%>
          <option value>None</option>
          <% log.project.todos.each do |todo| %>
          <% if todo == log.todo %>
          <option value="<%= todo.id %>" selected="selected"><%=todo.name%></option>
          <%else%>
          <option value="<%= todo.id %>"><%= todo.name%></option>
          <% end %>
          <% end %>
          <% end %>
          </select></li>
          <li><%= f.label :customer %>
            <select class="big_select" id="log_customer_id_<%= log.id %>" log="<%= log.id %>" name="log[customer_id]">
              <% if !log.project.nil? and !log.project.customer.nil? %>
              <option value="<%=log.project.customer.id%>" selected="selected"><%=log.project.customer.name%></option>
              <% else %>
              <option value="">None</option>
              <% @customers.each do |customer| %>
              <% if customer == log.customer %>
              <option value="<%= customer.id %>" selected="selected"><%= customer.name %></option>
              <% else %>
              <option value="<%= customer.id %>"><%= customer.name %></option>
              <% end %>
              <% end %>
              <% end %>
            </select>
       <li><%= f.label :employee %>
        <select class="big_select" id="log_employee_id_<%= log.id %>" log="<%= log.id %>" name="log[employee_id]">
            <option value>None</option>
            <% if !log.customer.nil? %>
            <% log.customer.employees.each do |employee| %>
              <% if employee == log.employee %>
          <option value="<%= employee.id %>" selected="selected"><%=employee.name%></option>
          <%else%>
          <option value="<%= employee.id %>"><%= employee.name%></option>
          <% end %>
            <% end %>
            <% end %>
        </select></li>
        
      <li><%= f.submit "Save", :class => "submit" %></li>
      </ul>
    <% end %>
   </div>
    <% else %>
    Running<%= image_tag("running.gif") %>
    
    </div>
    <div class="pro_tod_cus_emp_on_log">
      	<div class="pro_tod_on_log">
      		<div class="pro_cus_on_log"><% if log.project %><%= log.project.name %><% end %>&nbsp;</div>
 			<div class="tod_emp_on_log"><% if log.todo %><%= log.todo.name %><% end %>&nbsp;</div>
      	</div>
      	<div class="cus_emp_on_log">
      		<div class="pro_cus_on_log"><% if log.customer %><%= log.customer.name %><% end %>&nbsp;</div>
 			<div class="tod_emp_on_log"><% if log.employee %><%= log.employee.name %><% end %>&nbsp;</div>
      	</div>
      	</div>
     </div>
    <% end %>
  
  
</div>
