<div class="log_form red"> 
    <%= form_for @log, :html => {:class => "stop_tracking_form", :id => "log_update_#{log.id.to_s}_form"}, :url => stop_tracking_path(@log) do |n| %>
 		<div class="tracking_container">
   			<%= n.text_field :event, :class => "tracking_log_event" %> 
   		<div class="clock_rec">
   			<div class="display">
   				<span class="hr"><%=hours(Time.now - @log.begin_time)%></span>:<span class="min"><%=min(Time.now - @log.begin_time)%></span>:<span class="sec"><%=sec(Time.now - @log.begin_time)%></span>  				
   			</div>
   		</div>
     	<div class="tracking_button">
			<%= n.submit "", :class => "stop"%>
		</div>
		</div>
         <%= render :partial => "tracking_partial", :locals => {:log => @log, :n => n}%>
  	<% end %>
			  
	<div class="open_tracking_select_container">
	    <a class="open_tracking_select" title="Details" data-id="<%= @log.id %>"></a>
	</div>
</div>