$(".flash_notice").empty();
<% if @log.nil? %>
var customer = $("#log_customer_id_")
var employee = $("#log_employee_id_")
var todo 	 = $("#log_todo_id_")
var form	 = $("#start_tracking_form")	
<% else %>
var form	 = $("#log_update_<%= escape_javascript(@log.id.to_s) %>_form")
var customer = $("#log_customer_id_<%= escape_javascript(@log.id.to_s)%>")
var employee = $("#log_employee_id_<%= escape_javascript(@log.id.to_s) %>")
var todo 	 = $("#log_todo_id_<%= escape_javascript(@log.id.to_s) %>")
<% end %>  
  form.find(".small_selector").selectmenu("destroy");
  todo.empty();
  customer.empty();
  employee.empty();
  <% if !@project.nil? %>
      <% if !@project.customer.nil? %>  
          customer.append("<option value='" + "<%= escape_javascript(@project.customer.id.to_s) %>" + "'>" + "<%= escape_javascript(@project.customer.name) %>" + "</option>");
            <% if @project.customer.employees.empty? %>
                employee.append("<option value=''>No employees</option>");
            <% else %>
              employee.append("<option value=''>Select a employee</option>");
              <% @project.customer.employees.each do |employees| %>
              employee.append("<option value='" + "<%= escape_javascript(employees.id.to_s) %>" + "'>" + "<%= escape_javascript(employees.name) %>" + "</option>");
            <% end %>
       <% end %>
  <% else %>
	 customer.append("<option value=''>" + "None" + "</option>");
	 employee.append("<option value=''>Select a customer</option>");
		<% @customers.each do |customer| %>
	   		customer.append("<option value='" + "<%= escape_javascript(customer.id.to_s) %>" + "'>" + "<%= escape_javascript(customer.name) %>" + "</option>");
	 	<% end %>
 <% end %>  
      <% if @todos.is_a? String %>
        todo.append("<option value='' SELECTED>" + "<%= escape_javascript(@todos) %>" + "</option>");
      <% else %>
      	<% if @todos.empty? %>
			  todo.append("<option value='' SELECTED>No tasks</option>");
		<% else %>
        	todo.append("<option value='' SELECTED >none</option>");
        	<% @todos.each do |todo| %>
          	todo.append("<option value='" + "<%= escape_javascript(todo.id.to_s) %>" + "'>" + "<%= escape_javascript(todo.name) %>" + "</option>");
        <% end %>
      	<% end %>
      <% end %>
  <% else %>
    todo.append("<option value=''>Select a project</option>");
    customer.append("<option value=''>" + "None" + "</option>");
    <% @customers.each do |customer| %>
      customer.append("<option value='" + "<%= escape_javascript(customer.id.to_s) %>" + "'>" + "<%= escape_javascript(customer.name) %>" + "</option>");
       <% end %>
     employee.append("<option value=''>Select a customer</option>");  
  <% end %>
  form.find(".small_selector").selectmenu({width:200});
  <% if !@log.nil? %>
  $("#log_<%= escape_javascript(@log.id.to_s)%>").replaceWith("<%= escape_javascript(render(:partial => @log)) %>");
  <% end %>
$(".spinning").hide();