<div id="above_header">
  </div>
<div id="front_logo">
		<%= image_tag "squadlink.png"  %>
	</div>

<div id="all_container">
<div id="register_container">
	
<div id="registration" class="blue">
<p>Last step </p>
	<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
	<% end %>
	<% if flash[:error] %>
	<span class="flash_error" style="display:block;height:30px; width:560px; background-color: red; text-align:center; line-height: 175%;" ><%= flash[:error] %></span>
	<% end %>
<p>This user will become a manager, but this can be changed later</p>
</div>
		
	
<div class="signup signup_user">
<%= form_for :user, :url => create_first_user_path, :html => { :class => "first_user", :id => "first_user", :multipart => true } do |f| %>
 <%= f.hidden_field :firm_id %>

	<div class="signup-form-field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "required form-input", :AUTOCOMPLETE => "OFF"%></div>
	<div class="signup-form-field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "required form-input", :email => "true", :AUTOCOMPLETE => "OFF" %>
 </div>
	<div class="signup-form-field">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "required form-input", :minlength => "4", :AUTOCOMPLETE => "OFF"  %>
  </div>
	
	<div class="not_required" style="display: none;">
		<div class="signup-form-field">
    <%= f.label :phone%>
    <%= f.password_field :phone, :class => "form-input", :AUTOCOMPLETE => "OFF"  %>
  	</div>
  	<div class="signup-form-field">
    <%= f.label :image%>
   <%= f.file_field :avatar%> 
  	</div>
		</div>
  <%= f.submit "Save", :class => "submit" %>

<% end %>
<div class="open_not_required_container">
    <a href="" class="open_not_required" title="Fill in not required field"></a>
    </div>
</div>
<div class="instruction_1">
	<p>The form only displays required fields.</p>
	
	<p>If you are up for it now, press the arrow at the bottom to fill in more information.</p>
	<p>You can always do this later.</p>
	<p>By signing up you agree to Squadlink's terms of service.</p>
</div>
	
</div>
</div>
