<div id="above_header">
  Loggyit 
   <% if current_user %>
  <%= "for" + " " + current_user.firm.name %> 
 
  <%= "logged in as" + " " + current_user.name %> 
	<%= gravatar(current_user, "gravatar32") %>
  <%end%>
  </div>
<div id="header">
  <%= Time.now.strftime('%d.%m.%y')%>|<span class="jclock"></span>
	<span class="spinning" style="display:none;"></span>
	<span class="flash_notice" style="color: #87E32B;"><%= flash[:notice] %></span>
	<span style="color: red;"><%= flash[:error] %></span>
  <div id="user_nav">
  
    <% if current_user %>
    <%= link_to "Statistics", statistics_path(:subdomain => current_firm.name)%> |
    <%= link_to "Projects", projects_path(:subdomain => current_user.firm.name)%> |
    <%= link_to "Logs", logs_path(:subdomain => current_user.firm.name)%> |
      <%= link_to "Customers", customers_path %> |
      <%= link_to "Users", users_path(:subdomain => current_user.firm.name) %> |
      <%= link_to "Logout", logout_path%>
    <% else %>
      <%= link_to "Register", register_path %> |
      <%= link_to "Login",login_path %>
    <% end %>
    <div class="link_text"></div>
  </div>
</div>