<html xmlns="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Squadlink</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="google-site-verification" content="ynxbxSS6ZtwG1WFHyqmWZ5ELrgNRADdhdEFebN11h5k" />

  <%= stylesheet_link_tag  'application' %>

   <%= csrf_meta_tag %>
   <link rel="shortcut icon" href="/favicon.png" />
   
<%= yield :head %>
<%= javascript_include_tag "application"%>


</head>
<body>
  
 <div id="main">
<%= render "layouts/header" %>

<div id="wrapper">
<div id="all_container">
	<div class="messages">
		<span class="spinning" style="display:none;"></span>
		<div id="flash_messages">	
			<span class="flash_notice"><%= flash[:notice] %></span>
			<span class="flash_error"><%= flash[:error] %></span>		
		</div>
		 <div id="user_nav_header">
	<%= link_to "Sign out", sign_out_path %>
	 	<span class="display_help" title="View page help">?</span>	
	 		
	</div>
	
	</div>
	<%= yield(:help)%>

	
<div id="navigation">
	<ul>
      <li class="navigation" id="statistics_navi" pos="0"><a href="/statistics">Statistics</a></li>
  	  <li class="navigation" id="logs_navi" pos="75"><a href="/logs">Logs</a></li>
  	  <li class="navigation" id="projects_navi" pos="150"><a href="/projects">Projects</a></li>
	  <li class="navigation" id="customers_navi" pos="225"><a href="/customers">Customers</a></li>
	  <li class="navigation" id="users_navi" pos="300"><a href="/users">Users</a></li>
    </ul>
</div>

<div id="main_container">
<%= yield %>
</div>
</div>
</div>
</div>
<div id="footer">
	
</div>


</body>
</html>
